.language{   
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(76,175,80,.4); 
    width: 85px;
    height: 58px; 
    margin: 10px;
}
.langs{
    display: flex;
    justify-content: center;

}
.example-card{
    margin: 12px;
}